
/*Reset*/

html, 
body {
  height: 100vh;
  width: 100vw;
}


body {
  box-sizing: border-box;
  margin: 0 10px 0 20px; 
  padding: 0;
  font-family:'Roboto', arial, verdana, sans-serif;
  

}

/* NAVEGAÇÃO */

nav{
	box-sizing: border-box;
	padding: 5px;
	text-align: right;
	margin-right: 20%;
	
	
}


.menu-itens li {
	list-style: none;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid black;
	background-color: grey;	
	padding: 1%;
	text-align: right;


}

.menu-itens li:first-child {

	background-color: rgb(190,207,215)
}


.menu-itens a{
	text-decoration: none;
	color: white;

}


/* Seção e artigo do topo */


.section-topo-pagina{
	background-color: rgb(190,207,215)
}

.section-topo-pagina h1{
	text-transform: uppercase;
}

.section-topo-pagina article{
	width: 30%;
	height: 30%;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px;
	vertical-align: top;
}

.section-topo-pagina img{
	width: 25%;
	padding: 5px;
	margin: 10px;
	border: 3px solid white;
	display: inline-block;

}

/* BOTÃO */

.section-topo-pagina button{
  display: inline-block;
  
  background: #787d80;
  background-image: -webkit-linear-gradient(top, #787d80, #ebebeb);
  background-image: -moz-linear-gradient(top, #787d80, #ebebeb);
  background-image: -ms-linear-gradient(top, #787d80, #ebebeb);
  background-image: -o-linear-gradient(top, #787d80, #ebebeb);
  background-image: linear-gradient(to bottom, #787d80, #ebebeb);
  
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: solid #2b4657 2px;

  color: #ffffff;
  
  font-size: 20px;
  text-decoration: none;

  padding: 10px 20px 10px 20px;

  
  
}

button:hover{
  background: #becad1;
  background-image: -webkit-linear-gradient(top, #becad1, #7d7880);
  background-image: -moz-linear-gradient(top, #becad1, #7d7880);
  background-image: -ms-linear-gradient(top, #becad1, #7d7880);
  background-image: -o-linear-gradient(top, #becad1, #7d7880);
  background-image: linear-gradient(to bottom, #becad1, #7d7880);
  text-decoration: none;

}

/* FIM DO BOTÃO */